.header {
	position: fixed;
	height: 6.25rem;
	width: 100%;
	padding: 0 10rem;
	display: flex;
	justify-content: space-between;
	align-items: center;

	box-sizing: border-box;
	z-index: 10000;

	transition: 0.3s all;
}

.center__links {
	display: flex;
	gap: 14rem;
}

.links {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 9rem;
	height: 3rem;
	transition: 0.3s all;
	color: #535353;
	font-family: 'Object Sans';
	font-size: 1.5rem;
	font-style: normal;
	font-weight: 400;
	line-height: 118.5%; /* 1.7775rem */
	letter-spacing: -0.045rem;
}

.links:hover {
	color: #535353;
	font-size: 1.625rem;
	font-style: normal;
	font-weight: 400;
	line-height: 118.5%; /* 1.92563rem */
	letter-spacing: -0.04875rem;
}

.logo {
	cursor: pointer;
	transition: 0.3s all;
}

.logo:hover path {
	fill: rgba(2, 105, 204, 1);
}
