html {
	scroll-behavior: smooth;
}

body {
	font-size: 16px;
	font-family: 'Object Sans', sans-serif;
	margin: 0;
}

a {
	color: #535353;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}
.links {
	font-family: 'Object Sans';
	font-size: 1.5rem;
	font-style: normal;
	font-weight: 400;
	line-height: 118.5%; /* 1.7775rem */
	letter-spacing: -0.045rem;
}

.footer__link {
	color: #1d1d1d;
	font-family: 'Inter';
	font-size: 1.25rem;
	font-style: normal;
	font-weight: 400;
	line-height: 118.5%; /* 1.48125rem */
	letter-spacing: 0.0625rem;
	transition: 0.3s all;
}

.footer__link:hover {
	color: rgba(2, 105, 204, 1);
}

.container {
	margin: 0 10rem;
	width: calc(100% - 20rem);
	height: 100%;
}

.block__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.title__box {
	display: flex;
	align-items: flex-start;
	gap: 1.88rem;
}

.subtitle {
	display: flex;
	width: 50%;
	height: 7.1875rem;
	flex-direction: column;
	justify-content: center;

	color: #535353;
	font-family: 'Inter';
	font-size: 1.5rem;
	font-style: normal;
	font-weight: 400;
	line-height: 118.5%; /* 1.7775rem */
	letter-spacing: -0.045rem;
}

.title {
	text-align: right;
	font-family: 'Object Sans';
	font-size: 6rem;
	font-style: normal;
	font-weight: 400;
	line-height: 118.5%; /* 7.11rem */
	letter-spacing: -0.18rem;

	background: linear-gradient(91deg, #595959 0%, #1d1d1d 99.5%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-background-clip: text;
}

.header__bg {
	position: fixed;
	background-color: white;
	border-bottom: 0.125rem solid #a0a0a0;

	transition: 0.3s all;
}

.header__service {
	position: static;
	background-color: white;
	border-bottom: 0.125rem solid #a0a0a0;

	transition: 0.3s all;

	height: 6.25rem;
	width: 100%;
	padding: 0 10rem;
	display: flex;
	justify-content: space-between;
	align-items: center;

	transition: 0.3s all;
}

.white__text {
	color: white;
	font-family: 'Object Sans';
	font-size: 7.94463rem;
	font-style: normal;
	font-weight: 400;
	line-height: 91.5%; /* 7.26938rem */
	letter-spacing: -0.23831rem;

	width: 54.12288rem;
}
